/* FAQ accordion pattern. */

.faq {
  @apply bg-black   mx-auto overflow-hidden text-white relative pb-24;
  counter-reset: faq;
}
.faq h2 {
  @apply text-white relative z-10 uppercase text-[60px] font-light;
}
.faq h3 {
  @apply my-0;
}
.faq .random-letter {
  @apply text-white;
}
.faq-item {
  border-bottom: 1px solid var(--wp--preset--color--dark-white);
  @apply pb-5 mt-0;
  h3 {
    @apply p-0;
  }
}
.faq-heading {
  @apply bg-transparent border-none cursor-pointer py-10;
}
.faq-wrapper {
  @apply px-5 relative z-20;
}

.faq button {
  @apply bg-transparent border-none text-3xl font-bold w-full text-white  text-left relative;
  counter-increment: faq;
}

.faq button:before {
  content: "/0" counter(faq, decimal-leading-zero);
  display: inline-block;
  color: var(--wp--preset--color--secondary);
  width: 35px;

  @apply inline-block text-lg mr-2 font-light;
}
.faq button:after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  background: var(--wp--preset--color--white);
  transition: transform 0.3s ease-in-out;
  transform-origin: bottom left;

  -webkit-mask: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51.0833 29.5762H29.5833V51.0762H22.4167V29.5762H0.916656V22.4095H22.4167V0.909546H29.5833V22.4095H51.0833V29.5762Z' fill='black'/%3E%3C/svg%3E%0A");
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  -webkit-mask-size: contain;

  mask: url("data:image/svg+xml,%3Csvg width='52' height='52' viewBox='0 0 52 52' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M51.0833 29.5762H29.5833V51.0762H22.4167V29.5762H0.916656V22.4095H22.4167V0.909546H29.5833V22.4095H51.0833V29.5762Z' fill='black'/%3E%3C/svg%3E%0A");
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  @apply absolute right-5 top-1/2 -translate-y-1/2;
}

.faq button[aria-expanded="true"]:after {
  transform: rotate(-45deg);
}
.faq-content {
  @apply overflow-hidden max-h-0 text-white text-2xl;

  opacity: 0;
  transform: translateX(50px);
  padding-left: 50px;
  margin-block: 0;

  transition:
    opacity 0.3s ease-in-out,
    transform 0.3s ease-in-out,
    max-height 0.3s ease-in-out;
}

.faq-content.open {
  @apply opacity-100 translate-x-0;
}
