.scrolling-text-container {
  @apply w-full overflow-hidden  py-4 relative top-[50px] max-w-[515px];
}
.scrolling-text-container--full {
  @apply max-w-full;
}

.scrolling-text-content {
  @apply text-sm font-bold text-black relative whitespace-nowrap overflow-hidden;
}
.scrolling-text-content {
  &:before,
  &:after {
    @apply content-[''] absolute top-0 w-[50px] h-full z-10;
  }
  &:before {
    @apply left-0;
    background: linear-gradient(
      to right,
      var(--wp--preset--color--clear-gray),
      transparent
    );
  }
  &:after {
    @apply right-0;
    background: linear-gradient(
      to right,
      transparent,
      var(--wp--preset--color--clear-gray)
    );
  }
}

.scrolling-text-wrapper {
  @apply inline-block whitespace-nowrap;
  width: max-content;
  animation: scroll-right-to-left 25s linear infinite;
}

@keyframes scroll-right-to-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

/* Variants - różne prędkości */
.scrolling-text-slow .scrolling-text-wrapper {
  animation-duration: 35s;
}

.scrolling-text-fast .scrolling-text-wrapper {
  animation-duration: 15s;
}

/* Color variants z dziedziczeniem */
.scrolling-text-primary {
  @apply text-black;
}

.scrolling-text-accent {
  @apply bg-gradient-to-r from-pink-500 to-purple-600 text-pink-100;
}

.scrolling-text-dark {
  @apply bg-gray-800 text-gray-100;
}

/* Dodatkowe opcje stylowania */

/* Różne tła */
.scrolling-text-transparent {
  @apply bg-transparent text-gray-800;
}

.scrolling-text-gradient {
  @apply bg-gradient-to-r from-purple-600 to-blue-600 text-white;
}
