footer.footer {
  @apply fixed bottom-0 w-full min-h-[600px] pt-12;

  .footer-left {
    @apply z-10 w-1/2;
    p {
      @apply text-lg;
    }
    a {
      @apply text-white no-underline;
    }
    .footer-mail {
      @apply text-2xl;
    }
    .footer-phone {
      @apply mt-2 text-xl;
    }
  }

  img {
    @apply max-w-[250px];
  }
  .footer-belt {
    @apply flex justify-evenly items-center;
    p {
      @apply mt-0;
    }
  }
}
main {
  margin-bottom: 600px !important;
  position: relative;
  z-index: 2;
}
