footer.footer {
  @apply fixed bottom-0 w-full h-[600px] pt-12;
  a {
    @apply text-white no-underline;
  }
  .footer-wrapper {
    @apply h-full flex flex-col justify-between pb-5;
  }
  .footer-left {
    @apply z-10 w-1/2;
    p {
      @apply text-lg;
    }
    a {
      @apply text-white no-underline;
    }

    .footer-mail {
      @apply text-2xl;
    }
    .footer-phone {
      @apply mt-2 text-xl;
    }
  }
  .footer-cols {
    @apply flex justify-between items-center;
  }
  .footer-belt {
    @apply grid grid-cols-3 items-center;

    p {
      @apply mt-0;
    }

    .footer-copyright {
      @apply col-start-2 justify-self-center;
    }
    .footer-link {
      @apply col-start-3 justify-self-end;
    }
  }

  img {
    @apply max-w-[150px];
  }
}
main {
  margin-bottom: 600px !important;
  position: relative;
  z-index: 2;
}
