/* Site header: logo, navigation and mobile menu. */

.navigation {
  @apply h-[60px] fixed top-0 left-0 z-50 w-full;
}

body.admin-bar .navigation {
  top: var(--wp-admin--admin-bar--height, 32px);
}

.navigation {

  .navigation-header {
    @apply w-full h-full bg-darkGray flex justify-between items-center px-10 py-5;

    .wp-block-logo {
      @apply h-full;

      img {
        @apply h-full w-full;
      }
    }
    .menu-toggle {
      @apply mt-0 bg-transparent cursor-pointer border-none text-white text-xl font-bold pr-5 relative overflow-hidden z-50 text-white;

      &:after {
        content: "";
        width: 15px;
        height: 15px;
        background-color: var(--wp--preset--color--white);
        position: absolute;
        right: -5px;
        top: 50%;
        transform: translate(-50%, -50%);
        mask-image: url("data:image/svg+xml,%3Csvg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.1667 28.6667H28.6667V50.1667H21.5V28.6667H0V21.5H21.5V0H28.6667V21.5H50.1667V28.6667Z' fill='black'/%3E%3C/svg%3E%0A");
        -webkit-mask-image: url("data:image/svg+xml,%3Csvg width='51' height='51' viewBox='0 0 51 51' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.1667 28.6667H28.6667V50.1667H21.5V28.6667H0V21.5H21.5V0H28.6667V21.5H50.1667V28.6667Z' fill='black'/%3E%3C/svg%3E%0A");
        mask-size: contain;
        -webkit-mask-size: contain;
        mask-repeat: no-repeat;
        -webkit-mask-repeat: no-repeat;
        mask-position: center;
        -webkit-mask-position: center;
        mask-mode: alpha;
        -webkit-mask-mode: alpha;
        display: block;
        z-index: 2;
        transition:
          transform 0.3s ease-in-out,
          background-color 0.3s ease-in-out;
        transition-delay: 0.3s;
        transform-origin: center center;
      }
    }
  }
  &.active .menu-toggle {
    @apply text-black;
    &:after {
      transform: translate(-50%, -50%) rotate(135deg);
      background-color: var(--wp--preset--color--black);
    }
  }
  .navigation-content-wrapper {
    @apply absolute w-[80%] max-w-[500px] z-10 h-screen text-black right-0 top-0 m-0 translate-x-full flex flex-col justify-between px-6;
    &:before,
    &:after {
      @apply content-[''] absolute w-full h-full top-0 left-0 z-[-1];
      transform: translateX(100%);
    }

    &:before {
      @apply bg-black;
    }
    &:after {
      @apply bg-white;
    }
    .navigation-info {
      @apply mt-0 pt-12 flex flex-col items-end pb-24 justify-end flex-1 opacity-0 translate-y-1/2;
    }

    ul {
      @apply w-full h-full z-10 relative flex flex-col pt-24 justify-center items-end lowercase text-[50px] gap-10 duration-500 ease-in-out delay-500 transition-transform;
      transform: translateX(100%);

      li {
        @apply overflow-hidden py-5;

        a {
          transform: rotate(10deg) translateY(50px);
          transform-origin: left center;
          opacity: 0;
        }
      }
    }
    .wp-block-navigation-item__content {
      @apply text-4xl lg:text-5xl;
    }
  }
  .wp-bock-site-logo {
    @apply relative z-50;
  }
}

.navigation.active {
  .navigation-content-wrapper {
    transform: translateX(0);
    &:before,
    &:after {
      transform: translateX(0);
      transition: transform 0.5s ease-in-out;
    }
    &:before {
      transition-delay: 0.1s;
    }
    &:after {
      transition-delay: 0.3s;
    }
    .navigation-info {
      @apply opacity-100 translate-y-0 transition-opacity transition-transform  duration-500 ease-in-out delay-1000;
    }
    ul {
      transform: translateX(0);

      li {
        a {
          transform: rotate(0deg) translateY(0px);
          opacity: 1;
          transition:
            opacity 0.5s 0.2s ease-in-out,
            transform 0.5s 0.2s ease-in-out;
        }

        &:nth-child(1) a {
          transition:
            opacity 0.5s 0.6s ease-in-out,
            transform 0.5s 0.6s ease-in-out;
        }
        &:nth-child(2) a {
          transition:
            opacity 0.5s 0.7s ease-in-out,
            transform 0.5s 0.7s ease-in-out;
        }
        &:nth-child(3) a {
          transition:
            opacity 0.5s 0.8s ease-in-out,
            transform 0.5s 0.8s ease-in-out;
        }
        &:nth-child(4) a {
          transition:
            opacity 0.5s 0.9s ease-in-out,
            transform 0.5s 0.9s ease-in-out;
        }
        &:nth-child(5) a {
          transition:
            opacity 0.5s 1s ease-in-out,
            transform 0.5s 1s ease-in-out;
        }
        &:nth-child(6) a {
          transition:
            opacity 0.5s 1.5s ease-in-out,
            transform 0.5s 1.5s ease-in-out;
        }
        &:nth-child(7) a {
          transition:
            opacity 0.5s 1.6s ease-in-out,
            transform 0.5s 1.6s ease-in-out;
        }
        &:nth-child(8) a {
          transition:
            opacity 0.5s 1.7s ease-in-out,
            transform 0.5s 1.7s ease-in-out;
        }
      }
    }
  }
}
