.navigation {
  @apply h-[100px]  fixed z-50 w-full;

  .navigation-header {
    @apply w-full h-full bg-black flex justify-between items-center px-10 py-5;

    .wp-block-logo {
      @apply h-full;

      img {
        @apply h-full w-full;
      }
    }
    .menu-toggle {
      @apply mt-0 bg-transparent cursor-pointer border-none text-white text-xl font-bold pr-5 relative overflow-hidden z-50 text-red-400;
      &:after {
        @apply content-['+'] -translate-y-1/2;
      }
      &:before {
        @apply content-['-'] translate-y-1;
      }
      &:before,
      &:after {
        @apply absolute right-0 top-1/2;
      }
    }
  }
  nav.navigation-panel {
    @apply absolute w-[80%] max-w-[500px] z-10  h-screen  text-black right-0 top-0 m-0;
    transform: translateX(100%);

    ul {
      @apply w-full h-full bg-white  z-10 relative flex flex-col justify-center items-end px-10 text-xl uppercase text-[50px] gap-10 duration-500 ease-in-out delay-500 transition-transform;
      transform: translateX(100%);

      &:before,
      &:after {
        @apply content-[''] absolute w-full h-full top-0 left-0 z-[-1];
        transform: translateX(100%);
      }

      &:before {
        @apply bg-green-400;
      }
      &:after {
        @apply bg-yellow-400;
      }

      li {
        @apply overflow-hidden py-5;
        a {
          transform: rotate(10deg) translateY(50px);
          transform-origin: left center;
          opacity: 0;
        }
      }
    }
  }
}

.navigation.active {
  .navigation-panel {
    transform: translateX(0);
    ul {
      transform: translateX(0);
      &:before,
      &:after {
        transform: translateX(0);
        transition: transform 0.5s ease-in-out;
      }
      &:before {
        transition-delay: 0.1s;
      }
      &:after {
        transition-delay: 0.3s;
      }

      li {
        a {
          transform: rotate(0deg) translateY(0px);
          opacity: 1;
          transition:
            opacity 0.5s 0.2s ease-in-out,
            transform 0.5s 0.2s ease-in-out;
        }

        /* Stopniowe opóźnienie dla każdego kolejnego elementu */
        &:nth-child(1) a {
          transition:
            opacity 0.5s 0.6s ease-in-out,
            transform 0.5s 0.6s ease-in-out;
        }
        &:nth-child(2) a {
          transition:
            opacity 0.5s 0.7s ease-in-out,
            transform 0.5s 0.7s ease-in-out;
        }
        &:nth-child(3) a {
          transition:
            opacity 0.5s 0.8s ease-in-out,
            transform 0.5s 0.8s ease-in-out;
        }
        &:nth-child(4) a {
          transition:
            opacity 0.5s 0.9s ease-in-out,
            transform 0.5s 0.9s ease-in-out;
        }
        &:nth-child(5) a {
          transition:
            opacity 0.5s 1s ease-in-out,
            transform 0.5s 1s ease-in-out;
        }
        &:nth-child(6) a {
          transition:
            opacity 0.5s 1.5s ease-in-out,
            transform 0.5s 1.5s ease-in-out;
        }
        &:nth-child(7) a {
          transition:
            opacity 0.5s 1.6s ease-in-out,
            transform 0.5s 1.6s ease-in-out;
        }
        &:nth-child(8) a {
          transition:
            opacity 0.5s 1.7s ease-in-out,
            transform 0.5s 1.7s ease-in-out;
        }
      }
    }
  }
}
