<!-- wp:template-part {"slug":"header","className":"site-header"} /-->

<!-- wp:group {"tagName":"main","className":"site-main","layout":{"type":"constrained"}} -->
<main class="wp-block-group site-main">
  <!-- wp:group {"align":"wide","className":"main-content","layout":{"type":"constrained"}} -->
  <div class="wp-block-group alignwide main-content">
    <!-- wp:post-featured-image {"aspectRatio":"16/9","style":{"border":{"radius":"0.5rem","margin":{"bottom":"2rem"}}}} /-->

    <!-- wp:group {"style":{"spacing":{"margin":{"bottom":"2rem"}}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group">
      <!-- wp:post-title {"level":1,"style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->

      <!-- wp:post-terms {"term":"portfolio_type","style":{"elements":{"link":{"color":{"text":"var:preset|color|vivid-purple"}}}},"textAlign":"left"} /-->
    </div>
    <!-- /wp:group -->

    <!-- wp:post-content {"align":"wide"} /-->
  </div>
  <!-- /wp:group -->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer"} /-->
